body{
	margin: auto;
	font-family: 'Archivo', sans-serif;
}
nav > ul > li{
	display: inline-block;
	padding: 16.2px;
	transition: 0.4s;
	margin: auto;
	font-size: 16px;
}
.display{
	width: 1000px;
	margin: auto;
}
nav{
	width: 950px;
	height: 50px;
	background-color: #222931;
	margin: 5px;
	margin-left: 2.5%;
}
a{
	text-decoration: none;
}
nav > ul > li > a{
	color: white;
}
nav > ul > li:hover{
	background-color: #ffe718;
	cursor: pointer;
}
div > img{
	margin-top: 13px;
	margin-left: 40px;
}
.header1{
	width: 100%;
}
.grid-container1{
	display: grid;
	width: 1000px;
	margin: auto;
	grid-template-columns: auto auto auto;
}
.coloryellow{
	background-color:  #ffe718;
	margin-top: 5px;
	height: 100px;
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto auto;
}
div > ul > li{
	margin: auto;
	margin-top: 1.7%;
	display: inline-block;
}
div > ul > li:nth-of-type(1){
	font-size: 20px;
}
div > ul > li:nth-of-type(3){
	background-color: white;
	padding: 13px;
	padding-right: 25px;
	padding-left: 25px;
}
.img2{
	margin: 0%;
	width: 100%;
}
